.content_top{
	width: 100%;
	height: 30px;
	background-color: #F7F7F7;
}

.contentDiv{
	width: 1000px;
	height: 30px;
	margin: 0 auto;
	line-height: 30px;
	text-align: center;
	vertical-align:middle;
}

.contentDiv img{
	float: left;
	vertical-align: middle;
}

.contentDivP1{
	float: left;
	background: url(../img/icon_collection.gif) left center no-repeat;
	padding-left: 19px;
	font-size: 12px;
	font-family: "宋体";
	font-weight: bold;
}

.contentDivP2{
	float: right;
	font-size: 12px;
	font-family: "宋体";
}

.contentBar{
	width: 100%;
	height: 84px;
	background-color: #1D7AD9; 
}

.contentBarDiv{
	width: 1000px;
	height: 84px;
	margin: 0 auto;
	/*background-color: red;*/
}

.contentBarDiv img{
	margin-left: 41px;
	margin-top: 13px;
}
.content{
	height: 1224px;
	width: 100%;
	
}
.content_goods_receipt{
	width: 1000px;
	height: 252px;
	margin: 0 auto;
	margin-top: 14px;
	border: 1px solid gainsboro;
}
.content_goods_receipt_title{
	width: 1000px;
	height: 33px;
	background-color: #F3F3F3;
	line-height: 33px;
	text-align: center;
}
.content_goods_receipt_title p{
	float: left;
	margin-left: 10px;
}

.content_goods_receipt_content{
	margin-left: 30px;
	margin-top: 33px;
	height: 18px;
	line-height: 18px;
	/*text-align: center;*/
}

.red{
	color: red;
	float: left;
	/*margin-top: 7px;*/
	vertical-align: middle;
}

.area{
	float: left;
	padding-left: 7px;
	font-size: 12px;
	font-family: "宋体";
}

.content_goods_receipt_address{
	margin-top: 15px ;
	line-height: 23px;
	text-align: center;
}

.select{
	float: left;
	margin-left: 5px;
	width: 154px;
	height: 18px;
	font-size: 12px;
}

#address{
	float: left;
	margin-left: 5px;
	width: 391px;
	height: 23px;
	/*font-size: 12px;*/
}

.content_goods_receipt_consignee{
	margin-top: 15px ;
	line-height: 23px;
	text-align: center;
}

#consignee{
	float: left;
	margin-left: 5px;
	width: 111px;
	height: 23px;
}

.content_goods_receipt_phone{
	margin-top: 15px ;
	line-height: 23px;
	text-align: center;
}

.content_goods_receipt_btn{
	margin-top: 22px ;
	
	
}

.content_goods_receipt_btn input{
	width: 115px;
	height: 27PX;
	background-color: #1D7AD9;
	color: white;
	border: none;
}

.content_payment_method{
	width: 1000px;
	height: 135px;
	margin: 0 auto;
	margin-top: 14px;
	border: 1px solid gainsboro;
}

.content_payment_method_weixin{
	margin-top: 14px;
	margin-left: 31px;
}

.content_payment_method_bank{
	margin-top: 25px;
	margin-left: 31px;
}

.content_payment_invoice{
	width: 1000px;
	height: 207px;
	margin: 0 auto;
	margin-top: 14px;
	border: 1px solid gainsboro;
}
.content_payment_invoice_checkBox{
	margin-left: 31px;
	margin-top: 14px;
	font-size: 13px;
}

.content_payment_invoice_checkBox input{
	
	width: 13px;
	height: 13px;
}

.content_payment_invoice_leixing{
	margin-left: 37px;
	margin-top: 32px;
	font-size: 13px;
}

.content_payment_invoice_leixing select{
	width: 111px;
	height: 19px;
	font-size: 12px;
}

.content_payment_invoice_taitou{
	margin-left: 37px;
	margin-top: 16px;
	line-height: 24px;
	text-align: center;
}

.content_payment_invoice_taitou select{ 
	width: 50px;
	height: 19px;
	float: left;
	font-size: 12px;
	vertical-align: middle;
}

.content_payment_invoice_taitou input{ 
	width: 140px;
	height: 24px;
	margin-left: 5px;
	float: left;
}

.content_payment_invoice_BTN{
	margin-left: 48px;
	margin-top: 15px;
}
#save{
	width: 67px;
	height: 25px;
	background-color: #4290FB;
	color: white;
	border: none;
}
#canel{
	width: 67px;
	height: 25px;
	background-color: #F4F4F4;
	margin-left: 10px;
	border: none;
}

.jiesuan{
	/*background-color: blue;*/
	width: 174px;
	height: 74px;
	/*position: absolute;*/
	float: right;
	margin-top: 40px;
	margin-right: 25px;
}

.content_payment_jiesuan{
	width: 1000px;
	height: 176px;
	margin: 0 auto;
	margin-top: 14px;
	border: 1px solid gainsboro;
}
